<a href="https://colab.research.google.com/github/123nishant/Google-Colab/blob/master/Fast_Text_Example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

We will use fastText Library to perform text classification on the dbpedie data which can be downloaded from 
https://github.com/le-scientifique/torchDatasets/raw/master/dbpedia_csv.tar.gz


fastText is a library for learning of "Word Embeddings" and "Text Classification" created by FB AI Research Lab. 

This model allows to create an unsupervised learning or supervised learning algorithm for obtaining vector representations for words.

FB makes available pretrained models for 294 languages

This notebook uses an older version of fastText

In [2]:
!pip install fasttext==0.9.2

Collecting fasttext==0.9.2
  Downloading https://files.pythonhosted.org/packages/f8/85/e2b368ab6d3528827b147fdb814f8189acc981a4bc2f99ab894650e05c40/fasttext-0.9.2.tar.gz (68kB)
     |████████████████████████████████| 71kB 1.9MB/s
Requirement already satisfied: pybind11>=2.2 in /usr/local/lib/python3.6/dist-packages (from fasttext==0.9.2) (2.5.0)
Requirement already satisfied: setuptools>=0.7.0 in /usr/local/lib/python3.6/dist-packages (from fasttext==0.9.2) (50.3.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from fasttext==0.9.2) (1.18.5)
Building wheels for collected packages: fasttext
  Building wheel for fasttext (setup.py) ... done
  Created wheel for fasttext: filename=fasttext-0.9.2-cp36-cp36m-linux_x86_64.whl size=3018329 sha256=ea451c9fbf6bfa2f3b698d764f15041dddf8e730dae93bc0e25d89274548df83
  Stored in directory: /root/.cache/pip/wheels/98/ba/7f/b154944a1cf5a8cee91c154b75231136cc3a3321ab0e30f592
Successfully built fasttext
Installing collected packages: fasttext
Successfully installed fasttext-0.9.2

In [3]:
import pandas as pd

In [4]:
# downloading the data

!wget -P DATAPATH https://github.com/le-scientifique/torchDatasets/raw/master/dbpedia_csv.tar.gz

# untaring the required file 
!tar -xavf DATAPATH/dbpedia_csv.tar.gz -C DATAPATH

# sneak peek in the folder structure 
!ls -lah DATAPATH

--2020-09-28 12:24:15--  https://github.com/le-scientifique/torchDatasets/raw/master/dbpedia_csv.tar.gz
Resolving github.com (github.com)... 140.82.113.4
Connecting to github.com (github.com)|140.82.113.4|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://github.com/srhrshr/torchDatasets/raw/master/dbpedia_csv.tar.gz [following]
--2020-09-28 12:24:16--  https://github.com/srhrshr/torchDatasets/raw/master/dbpedia_csv.tar.gz
Reusing existing connection to github.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/srhrshr/torchDatasets/master/dbpedia_csv.tar.gz [following]
--2020-09-28 12:24:16--  https://raw.githubusercontent.com/srhrshr/torchDatasets/master/dbpedia_csv.tar.gz
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 68431223 (65M) [application/octet-stream]
Saving to: ‘DATAPATH/dbpedia_csv.tar.gz’

dbpedia_csv.tar.gz  100%[===================>]  65.26M  68.9MB/s    in 0.9s

2020-09-28 12:24:17 (68.9 MB/s) - ‘DATAPATH/dbpedia_csv.tar.gz’ saved [68431223/68431223]

dbpedia_csv/
dbpedia_csv/test.csv
dbpedia_csv/classes.txt
dbpedia_csv/train.csv
dbpedia_csv/readme.txt
total 66M
drwxr-xr-x 3 root root 4.0K Sep 28 12:24 .
drwxr-xr-x 1 root root 4.0K Sep 28 12:24 ..
drwxrwxr-x 2 1000 1000 4.0K Mar 29  2015 dbpedia_csv
-rw-r--r-- 1 root root  66M Sep 28 12:24 dbpedia_csv.tar.gz

In [5]:
data_path = 'DATAPATH'

# loading train data
train_file = data_path + '/dbpedia_csv/train.csv'
df = pd.read_csv(train_file, header = None, names = ['class', 'name', 'description'])

# Loading the test data
test_file = data_path + '/dbpedia_csv/test.csv'
df_test = pd.read_csv(test_file, header = None, names = ['class', 'name', 'description'])

# Data we have
print("Train: {} Test: {}".format(df.shape, df_test.shape))

Train: (560000, 3) Test: (70000, 3)

In [6]:
# Since we have no clue about the classes lets build one
# Mapping from class number to class name
class_dict = {
    1:'Company',
    2:'EducationalInstitution',
    3:'Artist',
    4:'Athlete',
    5:'OfficeHolder',
    6:'MeanOfTransportation',
    7:'Building',
    8:'NaturalPlace',
    9:'Village',
    10:'Animal',
    11:'Plant',
    12:'Album',
    13:'Film',
    14:'WrittenWork'
}

# Mapping the classes 
df['class_name'] = df['class'].map(class_dict)
df.head()

   class  ... class_name
0      1  ...    Company
1      1  ...    Company
2      1  ...    Company
3      1  ...    Company
4      1  ...    Company

[5 rows x 4 columns]

In [7]:
df

        class  ...   class_name
0           1  ...      Company
1           1  ...      Company
2           1  ...      Company
3           1  ...      Company
4           1  ...      Company
...       ...  ...          ...
559995     14  ...  WrittenWork
559996     14  ...  WrittenWork
559997     14  ...  WrittenWork
559998     14  ...  WrittenWork
559999     14  ...  WrittenWork

[560000 rows x 4 columns]

In [8]:
df['class_name'].value_counts()

NaturalPlace              40000
Artist                    40000
MeanOfTransportation      40000
Building                  40000
WrittenWork               40000
Village                   40000
Company                   40000
OfficeHolder              40000
Album                     40000
Plant                     40000
Film                      40000
Animal                    40000
EducationalInstitution    40000
Athlete                   40000
Name: class_name, dtype: int64

In [19]:
# Lets do some cleaning of this text

"""
      The normal KD(NFKD) will apply the compatibility decomposition i.e. replace all
      compatibility characters with their equivalents. 
      Normal Form KC (NFKC) 1st applies compatibility decomposition, followed by canonical 
      decomposition
"""
    
def clean_it(text,normalize=True):
    # Replacing possible issues with data. We can add or reduce the replacemtent in this chain
    s = str(text).replace(',',' ').replace('"','').replace('\'',' \' ').replace('.',' . ').replace('(',' ( ').\
            replace(')',' ) ').replace('!',' ! ').replace('?',' ? ').replace(':',' ').replace(';',' ').lower()
    
    # normalizing / encoding the text
    if normalize:
   
          s = s.normalize('NFKD').str.encode('ascii','ignore').str.decode('utf-8')
    
    return s

# Now lets define a small function where we can use above cleaning on datasets
def clean_df(data, cleanit= False, shuffleit=False, encodeit=False, label_prefix='__class__'):
    # Defining the new data
    df = data[['name','description']].copy(deep=True)
    df['class'] = label_prefix + data['class'].astype(str) + ' '
    
    # cleaning it
    if cleanit:
        df['name'] = df['name'].apply(lambda x: clean_it(x,encodeit))
        df['description'] = df['description'].apply(lambda x: clean_it(x,encodeit))
    
    # shuffling it
    if shuffleit:
        df.sample(frac=1).reset_index(drop=True)
            
    return df

In [20]:
%%time

# Transform the datasets using the above clean functions
df_train_cleaned = clean_df(df, True, True)
df_test_cleaned = clean_df(df_test, True, True)

CPU times: user 6.1 s, sys: 377 ms, total: 6.48 s
Wall time: 6.49 s

In [21]:
# Write files to disk as fastText Classifier API reads files from disk

train_file = data_path + '/dbpedia_train.csv'
df_train_cleaned.to_csv(train_file, header = None, index = False, 
                        columns = ['class', 'name', 'description'])

test_file = data_path + '/dbpedia_test.csv'
df_test_cleaned.to_csv(test_file, header=None, index=False, 
                       columns = ['class', 'name', 'description'])

Now that we have the train and test files written into disk in a former fastText wants, we are ready to use it for text classification !

In [22]:
%%time

## using fastText for feature extraction and training
from fasttext import train_supervised
"""
fastText inputs a training file(csv), a model name as input arguments, 
label_prefix refers to the prefix before label string in the dataset.

default is __label__. 
In our dataset, it is __class__.

There are several other parameters which can be seen in :
https://pypi.org/project/fasttext/
"""

model = train_supervised(input=train_file, label="__class__", lr=1.0, epoch=75,
                         loss='ova', wordNgrams = 2, dim=200, thread=2, verbose=100)

CPU times: user 1h 26min 8s, sys: 21.7 s, total: 1h 26min 30s
Wall time: 44min 12s

In [26]:
for k in range(1, 6):

  results = model.test(test_file, k=k)
  print(f"Test Samples: {results[0]} Precision@{k} : {results[1]*100:2.4f} Recall@{k} : {results[2]}*100:2.4f")

Test Samples: 70000 Precision@1 : 87.6114 Recall@1 : 0.8761142857142857*100:2.4f
Test Samples: 70000 Precision@2 : 46.9550 Recall@2 : 0.9391*100:2.4f
Test Samples: 70000 Precision@3 : 31.4710 Recall@3 : 0.9441285714285714*100:2.4f
Test Samples: 70000 Precision@4 : 23.8364 Recall@4 : 0.9534571428571429*100:2.4f
Test Samples: 70000 Precision@5 : 19.1189 Recall@5 : 0.9559428571428571*100:2.4f